@import "~@flaticon/flaticon-uicons/css/all/all";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: -1.3px;
}

#right {
    float: right;
    margin-right: 135px;
}

#con {
    background: #eeeeee;
    width: 800px;
    height: 1121px;
    margin-left: 135px;
}

#dark {
    background: #2b3743;
    width: 34%;
    height: 82.7%;
    padding-top: 4%;
}

#dark, #light {
    padding-left: 2.5%;
}

#light {
    float: right;
    background: #eeeeee;
    width: 61%;
    height: 80%;
    padding-top: 2%;
}

#blue {
    background: #548ca8;
    width: 100%;
    height: 11.9%;
}

#per {
    color: #bfbfbf;
    font-size: 15px;
    margin-left: 5px;
}

#per img, #per p {
    display: inline-block;
    vertical-align: middle;
}

#per p {
    margin: 10px;
}

.hl {
    border-top: 2px solid #bfbfbf;
    width: 237px;
    position: absolute;
    left: 8.6%;
}

#hl1 {
    top: 48.5%;
}

#hl2 {
    top: 72.8%;
}

#hl3 {
    top: 89.6%;
}

#hl4 {
    top: 103.5%;
}

#dark p {
    color: #bfbfbf;
}

#skl {
    margin-top: 50px;
}

#cer {
    margin-top: 56px;
}

#dark h4, #dark ul {
    color: #ffffff;
}

ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
    font-weight: bold;
}

ul, #skl p, #hon p, #cer p, #int p {
    font-size: 14px;
}

li::before {
    font-weight: normal;
    content: "•";
    font-size: 21px; /* change this value to adjust the size */
    position: absolute;
    left: 8.6%;
}


#com li::before {
    top: 55.6%;
}

#lang li::before {
    top: 63.4%;
}

ul li {
    padding-left: 20px;
}

#hon, #int {
    margin-top: 62px;
}

#skl p, #hon p, #cer p, #int p {
    color: #e4e4e5;
}

.hll {
    border-top: 2px solid #2d2d2d;
    width: 340px;
    position: absolute;
    left: 30%;
}

#hl5 {
    top: 23.5%;
}

#hl6 {
    top: 39.7%;
    left: 30.5%;
    width: 332px;
}

#hl7 {
    top: 63.7%;
    left: 34.3%;
    width: 259px;
}

#hl8 {
    top: 101.5%;
    left: 30.5%;
    width: 333px;
}

#obj {
    width: 95%;
    color: #2d2d2d;
    margin-bottom: 34px;
}

#edu {

}

.dgray {
    color: #4a4a4a;
    margin-top: 0;
}

#edu p, #work p, #actv p {
    margin-left: 22px;
}


#light h4, #light ul {
    color: #2d2d2d;
}

.gray {
    color: #909090;
    margin-right: 43px;
}

#light ul {
    margin-bottom: 5px;
}

.dis, .gray {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

#top li::before {
    left: 24%;
    top: 42.2%;
}

#top1 li::before {
    left: 24%;
    top: 51.2%;
}

#top2 li::before {
    left: 24%;
    top: 66.2%;
}

#top3 li::before {
    left: 24%;
    top: 82.5%;
}

#top4 li::before {
    left: 24%;
    top: 104%;
}

#work .dgray {
    width: 453px;
}

#work .dis {
    margin-left: 170px;
}

#man {
    margin-right: 91px;
}

#actv .dis {
    margin-left: 126px;
}

#light p {
    font-size: 13.9px;
}

#work .dgray, #actv .dgray, #obj .dgray {
    font-size: 13.4px;
}

h1 {
    font-size: 38px;
    color: white;
    padding-top: 20px;
    margin: auto;
}

h3, h1 {
    padding-left: 20px;
    color: white;
    font-weight: lighter;
}

h3 {
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;
    letter-spacing: 2px;
}

#inl, #blue img {
    display: inline-block;
}

#blue img {
    left: 39%;
    top: 1.8%;
    border: 7px solid white;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    position: absolute;
}

#dark2 {
    background: #2b3743;
    width: 36.5%;
    height: 2.6%;
}

#dark h4 {
    font-weight: normal;
    font-size: 19px;
}

#light h4 {
    font-weight: bold;
    font-size: 17px;
}

.small {
    height: 14px;
}

#lang {
    margin-top: 24px;
}

.sim {
    margin: 0px;
}

.st {
    margin: 5px 0px;
}

.bot {
    margin-top: 5px;
}

#top3 {
    margin-top: 39px;
}

h4 {
    margin-bottom: 16px;
}

#work, #actv {
    margin-top: 32px;
}

#work #pres {
    margin-left: 180px;
}

#edu .dis {
    margin-left: 35px;
}

wht {
    color: white;
    font-weight: bold;
}
